body.headless {
	margin: 0;
	padding: 0;
}

.doc-wrapper {
	margin: 72px auto;
	max-width: 670px;
}

a:link, a:visited {
	color: #4183c4;
	text-decoration: none;
}

a:visited {
	color: #4183c4;
}

a[href]:hover {
	text-decoration: underline;
}

img {
	max-width: 33em;
}

h2, h3, h4, h5, h6 {
	position: relative;
}

h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	color: inherit;
}

img.left {
	float: left;
	padding-right: 5px;
}
img.right {
	float: right;
	padding-left: 5px;
}
table {
	border: 0 none;
	margin-bottom: 1em;
}
table th, table td {
	border-color: #1d4e6f;
	border-style: solid;
	border-width: 0 0 1px;
	padding: 4px;
	vertical-align: top;
}
table th li, table td li {
	margin: 0 0 0 1.5em;
}
table caption, table th {
	color: #dce0e3;
	text-align: left;
}
table th {
	color:#dce0e3;
}

table td {
	padding: 0.25em 1.25em 0.25em 0;
	vertical-align: top;
}
table tr, table tbody {
	border: 0 none;
}

#logo {
	position: absolute;
	top: 8px;
	right: 70px;
}
p.copyright {
	color: #888888;
	font-size: 0.8em;
	font-style: italic;
	line-height: 1.4em;
	width: 80%;
}

.toc {
	list-style: none;
	padding-left: 0;
}

table {
	font-size: 0.9em;
}
table.css-classes td:nth-child(2) {
	white-space: nowrap;
}

table.keyboard-shortcuts td span {
	background: #efefef;
	padding: 2px 6px;
}

.navbar {
	background: #f5f5f5 url('../inc/drp-logo.svg') no-repeat 6px center;
	background-size: 150px auto;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
	font-size: 13px;
	line-height: 24px;
	padding: 0 30px 0 120px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 3;
	height: 48px;
	overflow: hidden;
}

.navbar .app-name {
	display: inline-block;
	margin-left: 50px;
	font-size: 17px;
	position: relative;
	text-transform: uppercase;
	top: 2px;
}

.nav {
	display: inline-block;
	margin: 0 0 0 50px;
	padding: 0;
	list-style: none;
}

.nav li {
	display: inline-block;
	margin: 0 4px 0 0;
	line-height: 24px;
	padding: 12px 0;
}

.nav a {
	padding: 4px 10px;
	color: inherit
}

.nav li:hover,
.nav li.active {
	border-bottom: 3px solid #ddd;
	padding-bottom: 9px;
}

.nav li.active {
	font-weight: bold;
}

.nav a:hover {
	text-decoration: none;
}

dl.user {
	margin-left: 2em;
}

dl.user dt {
	font-weight: bold;
}
dl.user dd {
	margin-bottom: 0.5em;
	margin-left: 0;
}

dl.notop {
	margin-left: 0;
}

@media print {
	ul.nav {
		display: none;
	}
	a:visited {
		color: #1d4e6f;
	}
}

.indent {
    margin-left: 15px;
}

/* Copied from DrPublish docs, to be abstracted */
.toc {
	padding: 0;
	margin: 12px 0;
	list-style: none;
}

.level-1,
.level-2,
.level-3 {
	display: none;
}

.toc-depth-2 .level-1,
.toc-depth-3 .level-1,
.toc-depth-4 .level-1 {
	display: block;
}

.toc-depth-3 .level-2,
.toc-depth-4 .level-2 {
	display: block;
}

.toc-depth-4 .level-3 {
	display: block;
}

.level-1 {
	margin-left: 30px;
}

.level-2 {
	margin-left: 60px;
}

.level-3 {
	margin-left: 90px;
}

.toc em {
	display: none;
}
