@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FFFFFF;
	background-image: none;
	line-height: 1.45;
	position: relative;
	color: #000;
	margin:100px 0 0 0;
	padding: 0 60px 60px 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	font-size: 1em;
}

body.headless {
	margin: 0;
	padding: 0;
}

a:link, a:visited {
	color: #1d4e6f;
	text-decoration: none;
}
a:visited {
	color: #1d4e6f;
}

a[href]:hover {
	background: none repeat scroll 0 rgba(29, 78, 111, 0.15);
}
img {
	max-width: 33em;
}

h1, h2, h3, h4, h5, h6, p,  ul, ol, dt, dd, table, caption, th, td {
	font-weight: normal;
	display: block;
	line-height: inherit;
}

h2, h3, h4, h5, h6 {
	position: relative;
    font-weight: bold;
}
h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	color: inherit;
}
h1 {
    background-color: rgba(29, 78, 111, 0.95);
	background-image: url("drp-logo-inv.svg");
	background-position: 6px center;
	background-repeat: no-repeat;
	background-size: 180px auto;
    color: #FFF;
	font-size: 1.9em;
    padding: 9px 30px 9px 250px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;  z-index: 2;

}

body > h1 > a {
	color: #FFF !important;
}

body > h1 > a:hover {
	text-decoration: underline;
}

h2 {
	border-bottom: 2px solid #CCCCCC;
	/* display: inline-block;*/
	font-size: 1.2em;
	margin: 2em 0 0.5em;
	padding: 0 0 0.1em;
	color:#1d4e6f;

}

h2:first-of-type {
	margin: 1em 0 0.5em;
}
h3 {
	font-size: 1.2em;
	margin-bottom: 0.3em;
	color:#1d4e6f;
}
h4, h5, h6 {
/*	color: #006666;*/
	margin-bottom: 0.3em;
	padding: 0.4em 0 0;
    font-weight: normal;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

p {
	margin-bottom: .6em;
    margin-left: 15px;
}
q {
	color: #1d4e6f;
}
pre {
	background: rgba(29, 78, 111, 0.30);
	padding: 0.25em 0.6em;
	white-space: pre-wrap;
	font-size: 0.9em;
}
pre a {
	font-family:curier;
}
img.left {
	float: left;
	padding-right: 5px;
}
img.right {
	float: right;
	padding-left: 5px;
}
table {
	border: 0 none;
	margin-bottom: 1em;
}
table th, table td {
	border-color: #1d4e6f;
	border-style: solid;
	border-width: 0 0 1px;
	padding: 4px;
	vertical-align: top;
}
table th li, table td li {
	margin: 0 0 0 1.5em;
}
table caption, table th {
	color: #dce0e3;
	text-align: left;
}
table th {
	color:#dce0e3;
}
table td {
	padding: 0.25em 1.25em 0.25em 0;
	vertical-align: top;
}
table tr, table tbody {
	border: 0 none;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 1em;
}
ul, ol {
	padding-left: 1em;
	margin-bottom: 1em;
}
#logo {
	position: absolute;
	top: 8px;
	right: 70px;
}
p.copyright {
	color: #888888;
	font-size: 0.8em;
	font-style: italic;
	line-height: 1.4em;
	width: 80%;
}
.secnum {
	background-color: rgba(34, 96, 135, 0.40);
	color: #FFFFFF;
	font-family: helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	left: -6em;
	letter-spacing: 0.1em;
	padding: 3px 6px;
	position: absolute;
	text-align: right;
	top: 0.7em;
}
ul.toc {
	margin: 1em 0;
	padding: 0;
}
ul.toc ul {
	font-weight: normal;
	margin: 0;
	padding: 0;
}
ul.toc ul ul {
	font-style: italic;
	margin: 0;
}
ul.toc ul ul ul {
	margin: 0;
}
ul.toc li {
	padding: 3px;

}
ul.toc li li {
	margin: 0;
}
ul.toc span.secnum {
	margin-right: 1em;
}
ul.toc span.secnum {
	float: left;
	margin-left: -5em;
	width: 4em;
}
ul.toc li {
	clear: both;
}
ul.toc {
	margin-left: 5em;
}
.toc li {
	color: rgba(29, 78, 111, 0.66);
}
ul.toc {
	list-style: none outside none;
}
ul.toc .secnum {
	background-color: transparent;
	color: rgba(29, 78, 111, 0.67);
	font-family: inherit;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 0;
	padding: 0;
	position: static;
	text-align: left;
}
table {
	font-size: 0.9em;
}
table.css-classes td:nth-child(2) {
	white-space: nowrap;
}

table.keyboard-shortcuts td span {
	background: #efefef;
	padding: 2px 6px;
}
.nav {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 6px solid rgba(29, 78, 111, 0.67);
	width: 33em;
}
.nav li {
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
}
.nav a {
	font: 0.7em/1.4em Arial,Helvetica,sans-serif;
	font-weight: bold;
	padding: 10px 12px;
	color: #333;
}
.nav a:hover, .nav a.active {
	background: rgba(29, 78, 111, 0.66);
	color: #fff;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.nav a:hover {
	color: #FFFFAA;
}


dl.user {
	margin-left: 2em;
}

dl.user dt {
	font-weight: bold;
}
dl.user dd {
	margin-bottom: 0.5em;
	margin-left: 0;
}

dl.notop {
	margin-left: 0;
}

@media print {
	ul.nav {
		display: none;
	}
	a:visited {
		color: #1d4e6f;
	}
}

.indent {
    margin-left: 15px;
}


#content {
    margin: 0 3em 0 6em;
}

div#index {
	margin: 30px;
	font-size: 1.5em;
}

code {
    display: block;
    position: relative;
    margin: 10px 0 10px 0;
    font-size: 14px;
    background: #EEE !important;
    padding: 20px 8px 5px 8px !important;
    white-space: pre-wrap;
	max-width: 1000px;
}

code:after {
    font-family: verdana, sans-serif;
    font-size: 11px;
    line-height: 11px;
    position: absolute ;
    display: block;
    top: 0;
    left: 0;
    background: #CCC;
    text-indent: 0;
    color:  #EEE;
    padding: 1px 6px 3px 3px;
    content : 'code';
    border-radius: 0 0 3px 0;
}

.code-comment {
    color: #123;
    margin-left: 5px;
	max-width: 1000px;
}

.output {
    white-space: pre-line;
    text-indent: 60px;
    position: relative;
    font-family: courier, monospace;
    color: #361f3d;
    background: #ddeeff;
    padding: 3px;
    margin: 3px;
    width: auto;
	max-width: 1000px;
}

.output:after {
    font-family: verdana, sans-serif;
    font-size: 11px;
    line-height: 11px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: #ABC;
    text-indent: 0;
    color:  #ddeeff;
    padding: 1px 6px 3px 3px;
    content : 'output';
    border-radius: 0 0 3px 0;
}

.code-comment ul {
    margin: 2px 0 2px 0;
}

.indent {
    margin-left: 30px;
    margin-right: 30px;
}

.indent1 {
    margin-left: 30px;

}

.indent2 {
    margin-left: 60px;
}

