body {
    font-family: verdana, sans-serif;
    background: #FFF;
    font-size: 14px;
    line-height: 25px;
    padding:0;
}

h2 {
    font-weight: normal;
    font-size: 30px;
}

h2{
    background: #FFF;
    padding: 2px 2px 2px 8px;
}

#survey {

}

#survey div {
    margin: 80px 0 0 50px;
}

#survey a {
    font-size: 18px;
}


#wrapper {
    width: 800px;
}

code {

    display: block;
    position: relative;
    margin: 10px 0 10px 0;
    font-size: 14px;
    background: #666;
    color: #7cfc00;
    padding: 0px 5px 5px 10px;
    white-space: pre-wrap;
}

code:after {
    font-family: verdana, sans-serif;
    font-size: 11px;
    line-height: 11px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: #777;
    text-indent: 0;
    color: #444;
    padding: 1px 4px 3px 3px;
    content : 'code';
    border-radius: 0 0 3px 0;
}

.code-comment {
    color: #123;
    margin-left: 5px;
}

.output {
    text-indent: 60px;
    position: relative;
    font-family: courier, monospace;
    color: #361f3d;
    background: #ddeeff;
    padding: 3px;
    margin: 3px;
    width: auto;
}

.output:after {
    font-family: verdana, sans-serif;
    font-size: 11px;
    line-height: 11px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: #ABC;
    text-indent: 0;
    color:  #ddeeff;
    padding: 1px 6px 3px 3px;
    content : 'output';
    border-radius: 0 0 3px 0;
}

.code-comment ul {
    margin: 2px 0 2px 0;
}

.indent {
    margin-left: 30px;
    margin-right: 30px;
}

.indent1 {
    margin-left: 30px;

}

.indent2 {
    margin-left: 60px;
}







