body {
    font-family: verdana, sans-serif;
    font-size: 12px;
    background: #ddd;

}

h2 {
    background-color: #eee;
    font-size: 12px;
    margin: 0;
    padding: 5px;
    clear: both;
    font-weight: normal;
    border-radius: 3px 3px 0 0;
    color: #555;
}

#main {
    width: 1000px;
}

pre {
    font-size: 10px;
    max-height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #def;
    padding: 5px;
}

.result {
    background: #fff;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 0 0 3px 3px;;
}

.content-container {
    width: 710px;

    padding: 5px;
    clear: both;
}

.error-message {
    display: block;
    padding: 10px;
    margin: 20px;
    background-color: #FFA500;
    width: 600px
}

label {
    display: inline-block;
    min-width: 80px;
}

fieldset {
    vertical-align: top;
    margin: 3px;
    border: solid #777 2px;
    padding: 8px;
    border-radius: 3px;
    background: #ccc;
    display: block;
    float: left;
}

fieldset legend {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}

fieldset legend:hover {
    color: #ff4500;
}

textarea {
    width: 500px;
    vertical-align: top
}

#active-form {
    clear: both;
    width: 500px;
    float: left;
    margin-right: 40px;
}

#active-form fieldset {
    background-color: orange;
}

#form-pool {
    width: 500px;
    float: left;
}

#form-pool fieldset  form {
    display: none;
}

#active-form fieldset{
   float: none;

}

#api-response-wrap {
    margin-top: 20px;
    width: 1000px;
    border: solid #777 2px;
    border-radius: 3px;
    padding: 10px;
    min-height: 150px;
    background: #ccc;
}

.selectex .row {

}


.selectex .plus, .selectex .minus {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    font-family: "courier new", monospace;
    font-weight: bold;
    padding: 2px;
    background: #CCC;
    border-radius: 3px;
    border: solid #999 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.selectex .minus {
    display: none;
}