body {
    font-family: verdana, sans-serif;
    font-size: 14px;
    background: #FFF;
    padding: 0 0 0 50px;
    width: 1100px;
    color: #255;
    overflow-y: scroll;
}

h1 {
    margin-left: -30px;
}

h2 {
    color: #366;
    margin-top: 10px;;
}

h3 {
    color: maroon;
}

#main {
    width: 1000px;
}

#global-properties {
    margin: 8px 0 5px 0;
    vertical-align: top;
    border: solid #336666 2px;
    padding: 3px;
    border-radius: 3px;
    background: #CDD;
    display: inline-block;
    width: 1015px;
}

pre {
    font-size: 12px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    background: #def;
}

.result {
    padding: 5px;
    margin: 5px 0 15px 0;

}

.content-container {
    width: 710px;

    padding: 5px;
    clear: both;
}

.error-message {
    display: block;
    padding: 10px;
    margin: 20px;
    background-color: #FFA500;
    width: 600px
}

label {
    display: inline-block;
    min-width: 80px;
}

fieldset {
    vertical-align: top;
    margin: 3px;
    border: solid #336666 2px;
    padding: 3px;
    border-radius: 3px;
    background: #CDD;
    display: block;
    float: left;
}

fieldset legend {
    font-size: 14px;
    color: #337777;
    font-weight: bold;
    cursor: pointer;
}

fieldset legend:hover {
    color: #ff4500;
}

textarea {
    width: 400px;
    vertical-align: top
}

#active-form {
    clear: both;
    width: 550px;
    float: left;
    margin-right: 10px;

}

#active-form fieldset {
    background-color: #DEE;
    padding: 8px 8px 40px 8px;
    display: none;
    width: 530px;
    min-height: 100px;
    position: relative;
    margin: 0;
}

#active-form fieldset:first-of-type {
    display: block;
}

#active-form fieldset .doclinks {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

#form-pool {
    margin-top: 10px;
    width: 450px;
    float: left;
}

#form-pool div {
    float: left;
    padding: 2px 6px;
    background: #CDD;
    margin: 3px;
    cursor: pointer;
    border: solid #366 2px;
    border-radius: 3px;
}

#form-pool div:hover {
    background: #DEE;
}

#form-pool div.active {
    background: #CEE;
}

#active-form fieldset {
    float: none;
}

#api-response-wrap {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 1000px;
    border: solid #336666 2px;
    border-radius: 3px;
    padding: 10px;
    min-height: 100px;
    background: #EFF;
}

.selectex {
    margin-bottom: 20px;
}

.selectex .labels div:first-child {
    float: left;
    margin-left: 20px;
}

.selectex .labels div:last-child {
    float: right;
    margin-right: 200px;
}

.selectex .row {
    clear: both;
}

.selectex .field-name {
    width: 130px;
}

.selectex .row.first .condition-type {
    visibility: hidden;
}

.selectex .plus, .selectex .minus {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    font-family: "courier new", monospace;
    font-weight: bold;
    padding: 2px;
    background: #ACC;
    border-radius: 3px;
    border: solid #366 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.selectex .minus {
    display: none;
}

.selectex input[type='text'] {
    width: 265px;
}

.selectex .type {
    display: inline-block;
    width: 40px;
}

.request-info {
    margin: -10px -10px 0 -10px;
    background: #CDD;
    padding: 6px;
    color: #666;
    border-bottom: solid #777 2px;
    font-size: 12px;
}

.request-info a {
    color: #366;

}

.request-info a:hover {
    color: #333;
}

.request-info input {
    width: 800px;
    font-size: 12px;
    height: 15px;
    border: solid #366 1px;
    border-radius: 3px;
    background: #eff;
    padding-left: 8px;
}

.search-meta {
    color: #666;
    text-align: right;
}

.paginator {
    text-align: center;
}

.condition {
    display: none;
}

.submit-div {
    text-align: right;
    margin-right: 10px;
}

.submit-div input[type='submit'] {
    padding: 5px 10px;
    font-size: 16px;

}

.source-code {
    position: relative;
    height: auto;
    max-height: none;
    background: #CDD;
    color: #444;
    padding-top: 25px;
    margin: 20px -10px -10px -10px;
    border-top: solid #666 2px;
}

.source-code:before {
    position: absolute;
    top: 0;
    left: 0;
    color: #CDD;
    background: #666;
    content: 'Source code of the PHP template file above';
    padding: 0 5px;

}
